#bike {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media (min-width: 1236px) {
    #bike {
        display: unset;
    }
}

@media (max-width: 762px) {
    .hero-grid {
        display: block;
    }
    .hero-grid .avatar {
        display: none;
    }
}

article {
    padding: 0;
}

article footer {
    padding-bottom: 40px;
}

.content-title {
    margin-top: 10px;
}

/* Light Mode */
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: var(--pico-card-background-color);
    --pico-card-box-shadow: none;
}

/* Dark Mode */
[data-theme=dark],
:root:not([data-theme=light]) {
    --pico-card-box-shadow: none;
    --pico-background-color: var(--pico-card-background-color);
}